#product-menu
{
    position: absolute; 
    top: 650px; 
    padding-bottom: 50px;
}

#pm-table
{
    width:900px; 
    height:700px; 
    background-color: #3c3c3c; 
    border: solid 1px #666666;
}

#pm-main
{
    width: 71%;
    color: #CCCCCC;
}

#pm-title
{
    vertical-align: top;
}

#pm-titlebg
{
    background-color: #C4E0FC; 
    border: solid 1px black; 
    margin-left: 20px;
}

#pm-title h1
{
  margin-left:50px;  
}

#pm-title h1 a
{
    color: Black;
}

#pm-body
{
    background-color: #C4E0FC; 
    margin-left: 20px;
    margin-right: 20px;
    border-collapse:collapse;
}

#pm-body td
{ 
    padding: 5px 0px 10px 20px;
    white-space: nowrap; 
    vertical-align: text-top;
    width: 200px; 
    border-bottom:2px solid #CCFFFF; 
}

#pm-body #width300
{
    width: 300px;
}

#pm-body a
{
    text-decoration: none;
    color: Purple;
}

#pm-body a:hover
{
    text-decoration: underline;
    color: Navy;
}

#pm-subtitle
{
    font-size: 15px; 
    font-weight: bold;
}

#pm-subtitle:link
{
    color: Blue;
    text-decoration: underline;
}

#pm-subtitle:visited
{
    color: Blue;
    text-decoration: underline;
}

#pm-subtitle:hover
{
    color: #3c3c3c;
    text-decoration: underline;
}








