 /* pp-ie7.css Internet Explorer Versions 7 */
    
        
    #header {
        top: 55px ;	    
    }  
    
    #header li {
		padding: 0px 0px 0px 0px;
    }

    #header li a {
        text-decoration: none;
	    color: #85C1FE;
	    padding: 0px 45px 0px 12px;	    
    }
            
    #inner-main-mid table tr td
    {
        padding: 10px 20px 10px 20px;        
    }    
    
    #footer-mid{
        margin-left: 5px;
        height: 50px;
	    background: transparent;
    }
    
    #footer-mid a{
        padding-right: 20px;
    }   
    
    #product-photo
    {        
        text-align: center;
    }     
    
    #main-subtitle h3
    {
        padding-top: 9px;        
    }
    
    #protips{
        z-index: -1;
    }
    
     #protips-body
    {   
        position: relative;
        z-index: -1;        
    }
    
    #bottom-logo{
         z-index: -1;
    }  
    